/*
* pallete.css
* 
* stylesheet file for buttons and color pallete used in game 
*/


#ross {
	background: #c75858;
	color: #c75858;
	box-shadow: 0 0 5px black; 
}

#rachel {
	background: #9cad6f;
	color: #9cad6f;
	box-shadow: 0 0 5px black; 
}

#monica {
	background: #6f7cad;
	color: #6f7cad;
	box-shadow: 0 0 5px black; 
}

#joey {
	background: #247568;
	color: #247568;
	box-shadow: 0 0 5px black; 
}

#phoebe {
	background: #6c756e;
	color: #6c756e;
	box-shadow: 0 0 5px black; 
}

#chandler {
	background: #79517a;
	color: #79517a;
	box-shadow: 0 0 5px black;
}
